body{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    float: right;
}
li
{
    
    display:block;
    float: left;
    


}
li a{
    
    color: whitesmoke;
    text-decoration: none;   
    padding: 6px 16px; 
    text-align: center;
    
}

li a:hover:not(.active) {
    background-color:rgb(219, 186, 125);
    color: rgb(37, 37, 37);
    padding: 14px 16px;
}

.active{
    background-color:rgb(219, 186, 125);
    color: rgb(37, 37, 37);
    padding: 6px 12px;
}
button
{
    border: none;
    border-radius: none;
    padding:12px,28px;
}
button:hover
{
    background-color:rgb(219, 186, 125)  ;

}
/*
.flex-container{
    display: flex;
}
*/

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}


/*
.flex-item
{
    display: flex;
}
*/
#header
{
    position: fixed;
    top: 0;
    width: 100%;
    color: whitesmokesmoke;
    height:30px;
    background-color:rgb(37, 37, 37);
    
}
#logo
{
 width: 60%;  

 padding-left: 10%;
 color: whitesmoke;
 float: left;
}


#main
{
    height: 350px;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    
    text-align: center;
   
 
    background-image: url(img/bed-bedroom-furniture-headboard-279746_1.jpg);
    background-size: cover;
    background-position: center;

    
}

#enjoy
{
    color: rgb(219, 186, 125);
    float: left;
    margin: 0%;
    margin-left: 39%;
    margin-top:4.7%;
    margin-right: 1%;
}
#stay
{
    float: left;
    text-align: center;
    margin: 0%;
    margin-top: 0%;
    margin-top: 5%;
}
#main p{
    margin-top: 10%;
}
.mid-box
{
    width: 50%;
   float: left;

}
.mid-box h3{
    float: left;

    text-align: center;

    margin: 0%;

    margin-top: 0%;

    margin-top: 0%;

    margin-top: 0%;

    margin-top: 5%;
}
#image
{
   
    height: 250px;
    width: 50%;
    background-color:rgb(37, 37, 37) ;
    object-fit: cover;
    

}
#image img{
    height: inherit;

width: 664.5px;

object-fit: cover;
   
}
    

#history
{
    width: 50%;
    height: 250px;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    text-align: center;
   
}

#low div{
    height: 190px;
    width: 33.33%;
    float:left;
    text-align: center;
    
}
#low div i
{
    font-size: 40px;
    margin-top: 2%;
}
#location{background-color: whitesmoke;}
#meals{background-color:rgb(219, 186, 125) ;}
#fitness{background-color: whitesmoke;}

#footer
{
    text-align: center;
      
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    
}
#footer h6{
    margin-left: 45%;
    padding: 30px;

    margin: 0;
}


/*//////////////////////Estilo del Abbout///////////////////////////////////////*/
#about
{
    height: 250px;

    width: 100%;

}

#aboutTxt{
    color: rgb(219, 186, 125);
    float: left;
    margin: 0%;
        margin-top: 0%;
        margin-right: 0%;
        margin-left: 0%;
    margin-left: 39%;
    margin-top: 5.8%;
    margin-right: 1%;

}


#text
{
     width: 50%;
      
    float:left;
}
#circle{
    float: left;
    background-color: red;
    border-radius: 64%;

    height: 229px;
    width: 310px;
    margin-top: 2%;
    margin-left: 8%;
    object-fit: cover;
}
#img-cont{
    width: 50%;
}

#reviews
{
   
    height: 500px;
    
    background-image: url(img/city.jpg);
    background-position-y: -845px;
    background-position-x: -145px;
    text-align: center;
    
}
#reviews h1
{
    
    color:whitesmoke;
}
#review
{
  
    background-color:rgb(219, 186, 125);
    border-radius: 15px;
    width: 70%;
   
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    text-align: left;

}
#review p
{   
    width:88%;
    float: right;

}

  
.circle_pic
{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1%;
}



/*//////////////////////Estilo del Contact///////////////////////////////////////*/


form{
    height: 300px;
    

}
form div
{
    flex-direction: column;
    width: 100%;

}

#title
{
   height: 150px;
    width: 30%;
    
}
#title h3{
    float: left;
}
#title h1{
    float:left;
}

#contact
{
    color:rgb(219, 186, 125);

}
form label{
    display: block;
    width:100%;
}
form textarea{
    width: 100%;
}
#extra div i{
    font-size: 50px;
margin-top: 4%;
}
.extra-box
{
    width: 33%;
    height: 150px;
   
 
    text-align: center;
    background-color:rgb(37, 37, 37);
    color: whitesmoke;
    float:left;
}
form button
{
    float:left;
    width: 10%;
    height: 28px;
}